<?php
	$um = new UserManager();
	$p = $um->getById($_SESSION['id'])->getPrivileges();
?>

<div id="left_bar" class="background-color-dark">
	<img src="http://p.fod4.com/p/media/1e91b316f8/2YTDHpyS42P2wVwSpSJM_guilty%20dogs.jpg" title="User's image" />
	<ul>
		<li id="home"><a href="?location=home"><i class="fa fa-home fa-fw"></i><span>Home</span></a></li>
		<li id="status"<?php if(!$p->getStatus())echo 'class="disabled"'; ?>><a href="?location=status"><i class="fa fa-area-chart"></i><span>Status</span></a></li>
		<li id="files"<?php if(!$p->getFiles())echo 'class="disabled"'; ?>><a href="#"><i class="fa fa-archive"></i><span>My Files</span></a></li>
		<li id="shell"<?php if(!$p->getShell())echo 'class="disabled"'; ?>><a href="#"><i class="fa fa-terminal"></i><span>Shell</span></a></li>
		<li id="configuration"<?php if(!$p->getConfig())echo 'class="disabled"'; ?>><a href="#"><i class="fa fa-cog"></i><span>Configuration</span></a></li>			
	</ul>

	<ul class="extra">
		<li id="signout"><a href="#"><i class="fa fa-sign-out"></i><span>Sign Out</span></a></li>
		<li id="restart"><a href="#"><i class="fa fa-refresh"></i><span>Restart</span></a></li>
		<li id="shutdown"><a href="#"><i class="fa fa-power-off"></i><span>Shut Down</span></a></li>		
	</ul>
</div>